@mixin field-focus {
  outline: 0;
  // box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

@mixin ul-none() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin text-gradient($gradient-color, $color) {
  display: inline-block;
  color: $color;
  background-image: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
