include mixins.pug

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    //- Настройки шаринга, оставил ссылки на изображение так как остальное берт с дескришина https://ruogp.me/
    meta(property='og:image', content='img/sharing/logo.png')
    meta(property='vk:image', content='img/sharing/logo.png')
    meta(name='twitter:image:src', content='img/sharing/logo.png')

    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='manifest' href='img/favicon/site.webmanifest')
    //- link(rel='mask-icon' href='img/favicon/safari-pinned-tab.svg' color='#5bbad5')
    //- link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
    //- link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    //- link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='icon', type='image/ico', sizes='16x16', href='img/favicon/favicon-16x16.ico')

    //- Оптимизация шрифта
    //- link(rel='preload' href='fonts/' as='font')
    //- link(rel='preload' href='fonts/' as='font')
    //- link(rel='preload' href='fonts/' as='font')

    //- link(rel='stylesheet', href='libs/owl.carousel/dist/assets/owl.carousel.min.css')
    //- link(rel='stylesheet', href='libs/owl.carousel/dist/assets/owl.theme.default.min.css')
    //- link(rel='stylesheet', href='libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css')')

    link(rel='stylesheet', href='css/style.min.css')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#fffff')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

  body
    block header
      p «шапка»
    block content
      p содержимое страницы
    block footer
      p «подвал»
    block page-bottom
      script(src='libs/jquery/dist/jquery.min.js')
      //- script(src='libs/popper.js/dist/umd/popper.min.js')
      //- script(src='libs/bootstrap/dist/js/bootstrap.min.js')
      //- script(src='libs/owl.carousel/dist/owl.carousel.min.js')
      //- script(src='libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js')
      script(src='js/custom.js')
