extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header()
block content
  main
    ul
      li
        a(href='/') Главная
      //- li
      //-   a(href='/') Главная
      //- li
      //-   a(href='/') Главная
      //- li
      //-   a(href='/') Главная
      //- li
      //-   a(href='/') Главная
block footer
  +page-footer()
